{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h2> Editer </h2>
        <hr>
        <div class="form-group">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.coverimg) }}
            {{ form_row(form.description) }}
            {{ form_row(form.content) }}
            {{ form_row(form.price, {attr: {value: form.price.vars.value | number_format('0', ' ', ',')}}) }}
            {{ form_row(form.room) }}
            {{ form_row(form.online, {attr: {'value': form.online.vars.checked == true ? '1' : '0'} }) }}
            <button type="submit" class="float-right btn btn-primary">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}